@import 'tailwindcss';

@theme {
  --font-euclid: __euclid_9a30be, __euclid_Fallback_9a30be;

  --color-primary-50: #faf5ff;
  --color-primary-100: #f5ebff;
  --color-primary-500: #26c8cb;
  --color-primary-600: #805ad5;
  --color-primary-700: #6b46c1;
  --color-primary-800: #553c9a;
}


/*GoDeeper*/
.no-scrollbar {
    scrollbar-width: none;
}

.nav > a.active{
  color: #8E24AA;
  border-bottom: 2px solid #8E24AA;
}
.dashboard-nav > a.active{
  border: 1px solid #8E24AA;
  background-color: #fcf8fd;
}

/* Blogs */
.basic-baground{
    background-image: linear-gradient(180deg,#fcfcfd,#f6f7f9)
};

.new-style {
    position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;
}

/* Article */
.grid-blogDetails{
  grid-template-columns: 272px 1fr 272px;
}