@tailwind base;
@tailwind components;
@tailwind utilities;

a.active{
   color: #8E24AA;
   border-bottom: 2px solid #8E24AA;
}
#home-banner-search-all-job-btn-overlay {
    background: rgb(246, 247, 249);
    background: radial-gradient(circle, rgba(246, 247, 249, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }
  
